	*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Flamenco', cursive;

}
header{		
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/header.jpeg');
	/*liner gradient background image ne black tone apva mate che */
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh; /*laptop ni screen per jetlu dekay che ena mate che vh simple meaning che view*/

}
.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row{
	max-width: 1180px;
	margin: 0 auto;
}
.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20PX;
}
.main-nav{
	float: right;
	margin-top: 60px;
}
.main-nav li {
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a{
	padding: 5px 0;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid #bf55ec;
}

.main-content-header{
	width: 1180px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h1{
	font-size: 240%;
	font-weight: lighter;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.btn{
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;	
	transition: background-color 0.2s,border 0.2s,color 0.2s;
}
.btn-full{
	background-color: transparent;
	color: #bf55ec;
	margin-right : 20px;	
	border: 1px solid #bf55ec;
}
.btn-full:hover{
	background-color: white;
}
.btn-nav{
	background-color: transparent;
	color: white;
	border: 1px solid white;
}
.btn-nav:hover{
	background-color: #bf55ec;
}
.colorchange{
	animation: colorchangedev 1s infinite;
}
@keyframes colorchangedev{
	0%{color: red;}
	25%{color:#bf55ec; }
	50%{color: white;}
	100%{color: #bf55ec;}
}
.mobile-icon{
	display: none;
}
/*!!!!!!!!!!!!!!!!! TO MAKE  RESPONSIVE !!!!!!!!!!!!!!!!!*/
@media only screen and (max-width: 1180px){
	.main-content-header{
		width: 100%;padding: 2%;}
}
@media only screen and (max-width: 998px){
	h1{font-size: 200%;}
}
@media only screen and (max-width: 768px){
	h1{font-size: 180%;}	
	.main-nav{display: none;float: left;}
	.mobile-icon{
		display: inline-block;
		color: white;
		float: right;
		margin-top: 30px;
		margin-right: 20px;
	}
	.main-nav li{
		display: block;
		margin-top: 10px;
	}
}
@media only screen and (max-width: 480px){
	  .btn-full{
	  	margin-bottom: 20px;
	  }
	  h1{
	  	font-size: 160%;
	  }
}